body {
    background-color: #823F31;
    color: #fff;
    text-align: center;
}

table {


border-collapse: collapse;
border: 3px solid rgb(140 140 140);
font-family: sans-serif;
font-size: 0.8rem;
letter-spacing: 1px;
text-align: right;
vertical-align: top;



}

th,td {
            border: 3px solid rgb(7, 0, 0);
            padding: 8px 10px;
            
        }

h1 {
    color:palegreen;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: skyblue;
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

a {
    color: #8897E5;
    display: block;
}

img {
    margin: 20px 0;
    max-width: 500px;
    height: 350px;
    border-radius: 20px;
}

footer {
    display: block;
    justify-content: space-around;
    text-align: center;
}